<template>
<b-container class="content1" fluid>

  <b-row >
    <b-col lg="4">
      <b-row>
        <b-col lg="12">
          <div class="font-weight-bold"> Pickup city: </div>
        </b-col>
        <b-col lg="4">
          <b-form-input id="pickup city" type="text" required placeholder="Dallas" />
        </b-col>


        <b-col lg="3">
          <div class="topSpace" />
          <b-form-select id="state" class="mb-3" />
        </b-col>

        <b-col lg="4">
          <div class="topSpace" />
          <b-form-input id="zipCode" type="text" placeholder="Zip Code" />
        </b-col>
        <b-col lg="6">
          <b-form-group label="Start Date:" label-for="startDate" >
          <b-form-input id="startDate" type="date" />
        </b-form-group>
        </b-col>
        <b-col lg="6">
          <b-form-group label="End Date:" label-for="endDate">
          <b-form-input id="EndDate" type="date" />
        </b-form-group>
        </b-col>
        <b-col>
          <b-form-checkbox id="checkbox1" value="accepted" unchecked-value="not_accepted">Flexible</b-form-checkbox>
        </b-col>
      </b-row>
    </b-col>




    <b-col lg="4">
      <b-row>
        <b-col lg="12">
          <div class="font-weight-bold"> Delivery city: </div>
        </b-col>
        <b-col lg="4">
          <b-form-input id="delivery city" type="text" required placeholder="Vegas" />
        </b-col>


        <b-col lg="3">
          <div class="topSpace" />
          <b-form-select id="state" class="mb-3" />
        </b-col>

        <b-col lg="4">
          <div class="topSpace" />
          <b-form-input id="zipCode" type="text" placeholder="Zip Code" />
        </b-col>
        <b-col lg="6">
          <b-form-group label="Start Date:" label-for="startDate" >
          <b-form-input id="startDate" type="date" />
        </b-form-group>
        </b-col>
        <b-col lg="12">
          <b-form-checkbox id="checkbox1" value="accepted" unchecked-value="not_accepted">Flexible</b-form-checkbox>
        </b-col>
      </b-row>
    </b-col>

    <b-col lg="4">
      <b-row>
        <b-col lg="12">
          <div class="font-weight-bold"> Other Details: </div>
        </b-col>
        <b-col lg="4">
          <b-form-input id="details" type="number" required placeholder="0" />
        </b-col>
        <b-col lg="4">
          <b-form-input id="details" type="number" required placeholder="0" />
        </b-col>
        <b-col lg="4"> </b-col>


  
        <b-col lg="4">
          <div class="text"> Weight(lbs) </div>
        </b-col>
        <b-col lg="4">
          <div class="text"> Volume(cf) </div>
        </b-col>
        <b-col lg="4"> </b-col>



        <b-col lg="4">
          <b-form-input id="details" type="number" required placeholder="0" />
        </b-col>
        <b-col lg="8"> </b-col>
        <b-col lg="4">
          <div class="text"> Job# </div>
        </b-col>

      </b-row>

    </b-col>
  </b-row>

</b-container>
</template>

<script>
export default {
  name: 'test',
  props: ['editable'],
}
</script>

<style scoped lang="scss">

.font-weight-bold {
  text-align: left;
}
.content1{
  text-align: left;
}
</style>
